<nav class="navbar navbar-inverse bg-light">
    <div class="container-fluid">
      <div class="navbar-header ">
        <a class="navbar-brand" href="#">Your Mart</a>
      </div>
      <div><app-product-search (onSearch)="sendNewList($event)"></app-product-search></div>
      <div>
      <a margin="5px" class="btn btn-outline-default btn-primary" href="product/add">Add New Product</a>
      
      <a margin="5px"class="btn btn-outline-default btn-success" (click)="logout()">Logout</a>
      </div>
        
      </div>
      </nav>
